
# Sub directories
plots/
old_code/
splashback_data/
__pycache__/
.ipynb_checkpoints/

# Style sheet
mnras.mplstyle

# Temporary test code
splashback_temp.py

# Irrelevant mini project
accretion_rate_prediction.ipynb
